<div style="text-align: center; margin: 1rem 0;">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"
       class="btn btn-secondary rounded-pill">
    {{ page_obj.previous_page_number }} <!--이전 페이지-->
    </a>
    {% endif %}
    <a href="?page={{ page_obj.number }}"
       class="btn btn-secondary rounded-pill active"><!--현재 페이지-->
        {{ page_obj.number }}
    </a>
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"
       class="btn btn-secondary rounded-pill"><!--다음 페이지-->
    {{ page_obj.next_page_number }}
    </a>
    {% endif %}
</div>

<!--이거 문제? 항상 이전페이지, 다음페이지로밖에 못감.-->