.pragmatic_logo {
 font-family: 'Hahmlet', serif;
}

.pragmatic_header {
 text-align:center;
 margin: 2rem 0;
}

.pragmatic_footer_button {
 font-family: 'Hahmlet', serif;
 font-size:.6rem;
}

.pragmatic_footer {
 text-align:center;
 margin-top:2rem;
}