.pragmatic_logo {
 font-family: 'Permanent Marker', cursive;
}

.pragmatic_header {
 font-family: 'Hahmlet';
 text-align:center;
 margin: 2rem 0;
}

.pragmatic_footer_button {
 font-family: 'Hahmlet', serif;
 font-size:0.6rem;
}

.pragmatic_footer {
 font-family: 'Permanent Marker', cursive;
 text-align:center;
 margin-top:2rem;
}

@media screen and (max-width:500px) {
    html {
    font-size: 13px;}
}


a {
    color:#c71d44;
    text-decoration : none;
}

a:hover {
    color: green;
    text-decoration : none;
}

.pragmatic_header_navbar {
    margin: 1rem 2rem;
    font-family:'Hahmlet';
}


